.about-me__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    
}

.about-me__image {
    /* align-self: center; */
    width: 500px;
}