#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  background-color: #212121;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}


