.logo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    color: #fff;
    text-decoration: none;

}

.header__link-one {
    margin-right: 20px;
}