.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.popup__container {
  position: relative;
}

.popup__closeButton {
  position: absolute;
  top: -35px;
  right: -35px;
}

