.search__input {
    border: none;
    padding: 10px;
    border-radius: 50px 0 0 50px;
    background-color: #616161;
}

.search__button {
    border: none;
    padding: 10px;
    border-radius: 0 50px 50px 0;
    background-color: #616161;
    color: #fff;
}